%h1 Scholar+ (from #{@from} to #{@to})

%table.table
  %thead
    %tr
      %th #
      - @papers.first.keys.each do |attribute|
        %th= attribute.humanize
  %tbody
    - @papers.each_with_index do |paper, index|
      %tr
        %th= index + 1
        - paper.each do |_, value|
          %td= value

%p Score: <b>#{@score}</b>
